---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
{
    date: "2020 - Actualidad",
    title: "Desarrolladora Fullstack Freelance",
    company: "Independiente",
    description:
      "Ofrezco soluciones web a empresas y negocios locales, creando sitios optimizados, accesibles y escalables según sus necesidades.",
  },
  {
    date: "2018",
    title: "Pasantía en AxA Computación",
    company: "AxA Computación",
    description:
      "Reparación y armado de PCs, instalación de software, mantenimiento de sistemas, limpieza de impresoras y atención al público.",
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>


<!-- const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrolladora Fullstack Freelance",
    company: "Independiente",
    description:
      "Ofrezco soluciones web a empresas y negocios locales, creando sitios optimizados, accesibles y escalables según sus necesidades.",
  },
  {
    date: "2025",
    title: "Dunya Idiomas",
    company: "Academia de idiomas",
    description:
      "Sitio web informativo multilingüe desarrollado por encargo, utilizando Next.js y Next Intl para ofrecer una experiencia fluida en distintos idiomas.",
  },
  {
    date: "2024",
    title: "Planner Buddy",
    company: "Proyecto de curso",
    description:
      "App web dinámica enfocada en la toma de decisiones grupales. Desarrollada con Next.js, Tailwind CSS, AWS, Neon Tech, Prisma y Zustand.",
  },
  {
    date: "2024",
    title: "Recorriendo Argentina",
    company: "Proyecto de curso",
    description:
      "Sitio web interactivo sobre Argentina, creado durante un curso, utilizando HTML, CSS y JavaScript para mejorar la experiencia del usuario.",
  },
  {
    date: "2023",
    title: "Maderera",
    company: "Cliente particular",
    description:
      "Sitio web estático desarrollado por encargo para un comercio local, implementado con HTML y CSS vainilla para una presencia en línea efectiva.",
  },
  {
    date: "2022",
    title: "Panadería",
    company: "Cliente particular",
    description:
      "Sitio web estático realizado por encargo para un comercio local, utilizando HTML y CSS vainilla para garantizar un diseño funcional y accesible.",
  },
]; -->